<%= form_with(model: @notification_setting, url: post_notification_setting_path(@post), local: true, class: "contents") do |form| %>
  <% if @notification_setting.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@notification_setting.errors.count, "error") %> prohibited this notification_setting from being saved:</h2>
      <ul>
        <% @notification_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :notification_time, "通知時刻", class: "block font-medium text-sm text-gray-700" %>
    <%= form.time_field :notification_time, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.check_box :notify_on_reaction, class: "mr-2" %>
    <%= form.label :notify_on_reaction, "リアクションで通知", class: "font-medium text-sm text-gray-700" %>
  </div>

  <div class="my-5">
    <%= form.check_box :notify_on_comment, class: "mr-2" %>
    <%= form.label :notify_on_comment, "コメントで通知", class: "font-medium text-sm text-gray-700" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<%= link_to "戻る", @post, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>